body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  font-size: 1.2em;
}

.codigo {
  display: block;
  background: black;
  color: white;
  max-width: 800px;
  max-height: 400px;
  overflow: scroll;
  box-shadow: 1px 1px 4px black;
  border-radius: 2px;
}

nav {
  float: right;
  display: block;
  background: #EE8;
  padding: 5px;
  box-shadow: 0 0 2px #882;
  border-radius: 5px;
}
